#ID{
	-fx-background-color:#3399ff;
	-fx-text-fill:white;
}

#ID_R{
	-fx-background-color:#3399ff;
	-fx-text-fill:white !important;
}


#ID_C{
	-fx-background-color:red;
	-fx-text-fill:white !important;
}